.App {
  text-align: center;
}

.book-box {  
  padding: 10px 0;
  display: inline-block;
  border-bottom: 1px solid #eee;
}

.delete-button {
  background: transparent;
  float: right;
}

.title {
  margin: 0 !important;
  padding: 0 !important;
}

.addBook-form label {
  float:left;
  font-weight: 500;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
